[user]
	name = ‘sergikSm’
	email = ‘ssergey65@gmail.com’
[color]
	diff = auto
	branch = auto
[credential]
	helper = store
[push]
	default = simple
[core]
	autocrlf = true
	editor = code --wait
[alias]
	s = status -s
	ch = checkout
	br = branch
	lg = log --oneline --graph
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = 20
[merge]
	tool = winmerge
[mergetool]
	prompt = false
    keepBackup = false
    keepTemporaries = false
[mergetool "winmerge"]
   	name = WinMerge
    trustExitCode = true
    cmd = "/c/serg/application/WinMerge/WinMergeU.exe" -u -e -dl \"Local\" -dr \"Remote\" $LOCAL $REMOTE $MERGED

[diff]
    tool = winmerge
[difftool "winmerge"]
    name = WinMerge
    trustExitCode = true
    cmd = "/c/serg/application/WinMerge/WinMergeU.exe" -u -e $LOCAL $REMOTE
